# System seting
install
text
url --url="https://mirrors.tuna.tsinghua.edu.cn/centos-vault/6.9/os/x86_64/"

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# Network information
network --onboot yes --device eth0 --bootproto dhcp --noipv6

# Root password
rootpw  --iscrypted $1$FuR7rEdn$sdez1vIafdr9XtczNxd9F1
authconfig --enableshadow --passalgo=sha512

# Firewall configuation
firewall --disabled

# SELinux configuration
selinux --disabled

# System timezone
timezone  Asia/Shanghai

# bootloader
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"

# Clear the master Boot Record
zerombr

# the Setup Agent is not started the first time the system boots
firstboot --disable

# reboot after installation
reboot

# disk partitioning
clearpart --all --initlabel --drives=vda
part /boot --fstype=ext4 --size 512
part swap --size 2048
part / --fstype=ext4 --size 1 --grow

%packages --nobase
acpid
openssh-clients
-postfix
%end
%post

%post
sed -i -e 's/\(^SELINUX=\).*$/\1disabled/' /etc/selinux/config
sed -i 's/rhgb quiet//g' /boot/grub/grub.conf
sed -i 's/rd_NO_DM/& console=ttyS0 console=tty0/g' /boot/grub/grub.conf
%end
